@font-face {
	font-family: 'Darlington';
	src: url('./font/Darlington.ttf') format('truetype'); /* 指定字体文件 */
}

@font-face {
	font-family: 'BailsunSerif-Thin';
	src: url('./font/BailsunSerif-Thin.ttf') format('truetype'); /* 指定字体文件 */
}

@font-face {
	font-family: 'BailsunSerif-Regular';
	src: url('./font/BailsunSerif-Regular.ttf') format('truetype'); /* 指定字体文件 */
}

* {
	margin: 0;
	padding: 0;
	font-family: 'BailsunSerif-Regular';
}

.global {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background-color: #efefef;

	.main {
		max-width: 600px;
		width: 100%;
		padding: 40px;
		position: relative;
		top: -10%;

		.logo {
			font-size: 48px;
			margin-bottom: 36px;
			user-select: none;
			font-family: 'Darlington';
		}
	}

	.text {
		font-family: 'BailsunSerif-Regular';
		font-size: 18px;
		margin-bottom: 24px;
		p {
			text-indent: 2em;
			line-height: 1.5;
			margin-bottom: 4px;
		}
	}
	.contact {
		margin-bottom: 24px;
		p {
			text-indent: 2em;
		}

		ul {
			margin-left: 2em;
			margin-top: 12px;
			list-style: none;
			li {
				font-size: 16px;
				margin-bottom: 4px;
			}
		}
	}

	.friends {
		margin-bottom: 24px;
		p {
			text-indent: 2em;
		}

		ul {
			margin-left: 2em;
			margin-top: 12px;
			list-style: none;
			li {
				display: inline-block;
				margin-right: 2px;
				font-size: 14px;
				margin-bottom: 4px;
			}
		}
	}
}
